// all rainbows are here
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-dark: #000000;
$color-blue-dark: #13307a;
$color-white: #fff;
$color-gray: #777;
$color-gray-dark: #333;
$color-gray-light-3: #999;
$color-gray-light-1: #f7f7f7;
// <<<<<<< HEAD
$color-gray-light-2: #eee;
// color for card
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
// =======// >>>>>>> 2f2f5e930f7cc9ddacf22625c42a5f2bbe017ced
$color-red: #de1818;
$color-pink-light: #f273b6;
$color-pink-dark: #f21371;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font size
$default-font-size: 1.6rem;
