@import "../abstracts/variables";
@import "../abstracts/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px =62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16=50%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem =8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 30%; //1rem = 4.8px
  }

  @include respond(big-pp) {
    font-size: 75%; //1rem = 12px, 12/16=75%
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  color: $color-gray;
  line-height: 1.7;
  padding: 3rem;
  // box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
}
