@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px =62.5%
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  color: $color-gray;
  line-height: 1.7;
  padding: 3rem;
  // box-sizing: border-box;
}
